:root {
    --color-primary: #5E4AE3;
    --color-secondary: rgba(0, 0, 0, 0.7);
    --color-tertiary: #FCFCFC;
    --color-quaternary: #d4d4d4;

    --color-text: #000000;
    --color-text-light: #FCFCFC;
    --color-text-dark: #222;

    --color-success: #69D088;
    --color-success-hover: #5ab475;

    --color-warning: #dda704;
    --color-warning-hover: #ca9800;

    --color-danger: #D74949;
    --color-danger-hover: #c04242;

    --color-link: #007bff;
    --color-link-hover: #0056b3;

    --size-xxl: 2.5rem;
    --size-xl: 2rem;
    --size-lg: 1.5rem;
    --size-md: 1.25rem;
    --size-sm: 1rem;
    --size-xs: 0.875rem;
    --size-xxs: 0.5rem;
    --size-xxxs: 0.25rem;

    --space-xxl: 2.5rem;
    --space-xl: 2rem;
    --space-lg: 1.5rem;
    --space-md: 1.25rem;
    --space-sm: 1rem;
    --space-xs: 0.875rem;
    --space-xxs: 0.5rem;
    --space-xxxs: 0.25rem;

    --border-radius: 0.25rem;
    --border-radius-lg: 0.5rem;
    --border-radius-xxl: 1.5rem;
    --border-width: 1px;
    --border-color: #ccc;
    --border-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.30);
}