h2 {
    margin-top: var(--space-lg);
    font-size: var(--size-xl);
}

h3 {
    margin-top: var(--space-xl);
    margin-bottom: var(--space-xs);
    font-size: var(--size-md);
}

button {
    margin-top: var(--space-md);
}

#audit-sidebar-content {
    margin-top: var(--space-lg);
    display: flex;
    flex-direction: column;
}

.audit-result {
    box-shadow: var(--border-shadow);
    border-radius: var(--border-radius);
    overflow: hidden;
    padding-left: var(--space-md);
    padding-bottom: var(--space-md);
}

.warning {
    margin-top: var(--space-sm);
    color: var(--color-warning);
}

.success {
    margin-top: var(--space-sm);
    color: var(--color-success);
}

#add-issue {
    width: 100%;
    background-color: var(----vscode-editor-background);
    color: var(--color-text-light);
    border: none;
    box-shadow: var(--border-shadow);
    padding: var(--space-sm);
    border-radius: var(--border-radius);
}

#add-issue > option {
    background-color: var(--color-background);
    color: var(--color-text);
    padding: var(--space-sm);
    border-radius: var(--border-radius);
}