h2 {
    margin-top: var(--space-lg);
    font-size: var(--size-xl);
}

h3 {
    font-size: var(--size-md);
}

#audit-sidebar-content {
    margin-top: var(--space-lg);
    display: flex;
    flex-direction: column;
}

#audit-results-sidebar > * {
    margin-bottom: var(--space-md);
}

.audit-result {
    box-shadow: var(--border-shadow);
    border-radius: var(--border-radius);
    padding: var(--space-md);
    overflow: hidden;
}

.warning {
    color: var(--color-warning);
}

#add-issue {
    width: 100%;
    background-color: var(----vscode-editor-background);
    color: var(--color-text-light);
    border: none;
    box-shadow: var(--border-shadow);
    padding: var(--space-sm);
    border-radius: var(--border-radius);
}

#add-issue option {
    background-color: var(----vscode-editor-background);
    color: var(--color-text-light);
    padding: var(--space-sm);
    border-radius: var(--border-radius);
}